/*:root {
    --spacer: 25px;
    --color1: rgb(6, 114, 80);
    --color2: aliceblue;
  }*/

$spacer: 25px;
$background-color: rgb(156, 234, 209);
$base-color: darken($background-color, 40%);
$hover-color: aliceblue;

body {
    /*altrimenti lo sfondo del prodotto in evidenza non toccava 
    il margine sinistro e destro, ma rimaneva dello spazio bianco*/
    margin: 0px;

    font-family: 'Times New Roman', Times, serif;
    color:black;   
}

.navbar{
    margin: $spacer;
    position: relative;    

    h1 {
            display: inline;
            margin-right: $spacer;
        }

    #HomePage {
        color: $base-color;
    }
    
    .icons {
        position: absolute;
        top: 0px;
        right: 0px;

        span {
                margin-left: 15px;
            }
    }

    #menu_icon {
        display: none;
    }
}



.evidenza{
    background-color: $background-color;
    display: flex;   
    
    div {
            margin: $spacer;
        }

    .corpo {
        font-size: 30px;
        padding-left: $spacer;
    }
        
    img {
        height: 500px;
    }
}



button{
    padding: 15px 32px;
    border: none;
    border-radius: 5px;
    background-color: $base-color;
    font-size: 20px;
    color:$hover-color;
    cursor: pointer;
}

button:hover{
    background-color: $hover-color;
    color:$base-color;
}


.ChiSiamo{
    margin:$spacer;

    h1 {
            color: $base-color;
            text-align: center;
        }

    p {
        column-count: 2;
        padding-left: 10%;
        padding-right: 10%;
    }
}



@media screen and (max-width: 900px) {
    .navbar {
        #menu_aperto{
            display: none;
        } 
         #menu_icon {
             display: inline;
         }
    }

    .evidenza{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        div {
                margin-left: 0px;
                text-align: center;
            }
        img {
            height: 250px;
        }
        .corpo {
            font-size: 18px;
        }
    }

   
    .ChiSiamo p{
        column-count: 1;
        padding-left: 10%;
        padding-right: 10%;
    }
    
  }

  
  
  @media screen and (max-width: 1100px) {
    .navbar h1{
        font-size: 25px;
    }
    .evidenza {
        .corpo {
            font-size: 20px;
            padding-left: $spacer;
        }
        img {
            height: 250px;
        }
    }
  }
  

  @media screen and (max-width: 1250px) {
    .navbar h1{
        font-size: 30px;
    }
    .evidenza {
        .corpo {
            font-size: 25px;
            padding-left: $spacer;
        }
        img {
            height: 350px;
        }
    }
} 


  